eta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE-edge")
title Canon PowerShot SX400 IS с улучшеной матрицей и объективом
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-grid.min.css')
link(rel='stylesheet', href='/css/all.min.css')
script(src='/js/all.min.js')