doctype html
html(lang='en')
  head
    include include/head.pug
  body
    .container
        .row
            .col-xs-9
                .products
                    mixin list
                        .col-xs-4
                            .products__item
                                .products__item-code Арт. 34534345
                                .products__item-image
                                    img.products__item-image-img(src='/img/image-zone/image-zone.jpg')(srcset='/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x')
                                .products__item-availability В наличии
                                .products__item-title Canon PowerShot SX400 IS с улучшенной матрицей и объективом
                                .products__item-details
                                    ul.products__item-details 
                                        li 
                                            .products__item-details-key Физический размер
                                            .products__item-details-value 23.2 x 15.2 мм
                                        li 
                                            .products__item-details-key Диафрагма
                                            .products__item-details-value CMOS
                                        li 
                                            .products__item-details-key Формат записи
                                            .products__item-details-value RAW, JPEG, MP4 и другие
                                        li 
                                            .products__item-details-key Фокусное расстояние
                                            .products__item-details-value 18-55 мм.
                                    .to-bottom
                                        a(href='#').products__item-button_buy 
                                            i.icon-cart
                                            | Купить
                                        a(href='#').products__item-button_compare 
                                            i.icon-compare
                                        a(href='#').products__item-button_like 
                                            i.icon-like
                    +list
                    +list
                    +list
                    +list
                    +list
                    +list
            .col-xs-3
                .products__filter
                    a(href='#').products__filter-button_result Показать результат
                    a(href='#').products__filter-button_clear Очистить фильтр
                    .products__filter-item-title Производитель
                    mixin list(id, ...items)
                        ul(class=id)
                            each item in items
                                li.products__filter-item-param
                                    label
                                        input.products__filter-checkbox(type='checkbox')
                                        span.products__filter-checkbox-custom
                                        label= item
                    +list('autocolumn', 'Canon', 'Fujifilm', 'Nikon', 'Panasonic', 'Leica', 'Olympus', 'Pentax', 'Sigma', 'Geleral Electrics', 'Zenit')

    include include/footer.pug