// Генерация стилей шрифтов 
@each $name-font in (ProximaNova_Regular, ProximaNova_Light, ProximaNova_Semibold) {
  @font-face {
  font-family: $name-font;
	src: url( '../fonts/' + $name-font + '/' + $name-font + '.eot');
	src: local('☺'),
            url('../fonts/' + $name-font + '/' + $name-font + '.woff') format('woff'),
            url('../fonts/' + $name-font + '/' + $name-font + '.ttf') format('truetype'),
            url('../fonts/' + $name-font + '/' + $name-font + '.svg') format('svg');
	font-weight: normal;
	font-style: normal;}
}