@import "fonts.scss"; //- Шрифты

//- Основные цвета проекта
$gray-lighter-color: #f7f7f7;
$gray-light-color: #dfdfdf;
$gray-color: #bfbfbf;
$gray-dark: #7e7e7e;
$gray-darker: #4a4a4a;
$gray-darkest: #333333;
$blue-dark: #0a608b;
$blue: #0284c6;
$blue-light: #3e8bdc;
$green-check: #81c03d;

body {font-family: ProximaNova_Regular;}

.container {
    background-color: $gray-lighter-color;
    padding-bottom: 10px;
}
// Корректировка сетки Bootstrap **-- start --**
.col-xs-4 {
    padding: 0;
}
.col-xs-3 {
    padding: 0;
    margin-left: -10px;
}
// **-- end --**

.products {
    display: block; 
}
.products__item { 
    height: 590px;
    background-color: #fff;
    margin: 10px 10px 0 0;
    padding: 0 32px;
}

.products__item-code {
    display: block;
    color: $gray-color;
    font-family: ProximaNova_Light;
    font-size: 11.8px;
    float: right;
    padding-top: 20px;
}
.products__item-image{
    display: block;
    max-height: 201px; 
    max-width: 281px;
    clear: both;
    line-height: 201px;
    text-align: center;
}
.products__item-image-img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.products__item-availability {
    color: $green-check;
    font-size: 12.9px;
    font-family: ProximaNova_Light;
    margin-bottom: 5px;
}
.products__item-availability:before {
    content: " ";
    display: block;
    width: 20px;
    height: 16px;
    background: url(../img/check.svg) no-repeat 0px 3px;
    float: left;
    z-index: -1;
}
.products__item-title {
    display: block;
    clear: both;
    font-size: 17.8px;
    line-height: 22px;
    color: #262626;
}

.products__item-details ul {
    padding-left: 0;
}
.products__item-details ul li{
    list-style-type: none;
}
.products__item-details-key,
.products__item-details-value {
    font-size: 11.8px;
    font-family: ProximaNova_Light;
    display: inline;
    line-height: 22px;

}
.products__item-details-key {color: #9b9b9b;}
.products__item-details-value {color: #4f4f4f;}

.to-bottom {
    bottom: 30px;
    position: absolute;
    width: 251px;
}

.products__item-button_buy {
    text-decoration: none;
    background-color: $blue;
    color: white;
    line-height: 36px;
    padding: 0 17px 0 10px;
    display: inline-block;
}
.products__item-button_buy:hover {
    background-color: $blue-dark;
}

.products__item-button_buy,
.products__item-button_buy:visited,
.products__item-button_buy:hover,
.products__item-button_buy:focus,
.products__filter-button_result:focus,
.products__filter-button_result:visited,
.products__filter-button_result:hover{
    color: white;
    text-decoration: none;
}

.products__filter-button_clear:visited,
.products__filter-button_clear:focus,
.products__filter-button_clear:hover {
    color: $gray-darkest;
    text-decoration: none;
}

i.icon-cart {
    background: url(/img/cart.svg) 0 0 no-repeat;
    display: inline-block;
    width: 29px;
    height: 27px;
    vertical-align: middle;
}

.products__item-button_like, 
.products__item-button_compare {
    line-height: 25px;
    margin-left: 5px;
    float: right;
}

i.icon-like:hover {
    background: url(/img/snippets.png) 3px 3px no-repeat;
}
i.icon-compare:hover {
    background: url(/img/snippets.png) -21px 3px no-repeat;
}

i.icon-like {
    background: url(/img/heart.png) 3px 3px no-repeat;
    display: inline-block;
    width: 25px;
    height: 22px;
    vertical-align: middle;
}
i.icon-compare {
    background: url(/img/scales-26.png) 3px 3px no-repeat;
    display: inline-block;
    width: 25px;
    height: 22px;
    vertical-align: middle;
}

.products__filter {
    background-color: white;
    margin-top: 10px;
    padding: 29px;
    position: fixed;
    width: 320px;
}

.products__filter-button_result,
.products__filter-button_clear{
    display: block;
    background-color: $blue;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: ProximaNova_Light;
    font-weight: 300;
}

.products__filter-button_result {
    background-color: $blue;
    color: white;
}
.products__filter-button_result:hover {
    background-color: $blue-dark;
    color: white;
}
.products__filter-button_clear {
    background-color: #f8f8f8;
    color: $gray-darkest;
}
.products__filter-button_clear:hover {
    background-color: $gray-light-color;
}

.products__filter-item-title {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 17px;
    color: $gray-darker;
}
.products__filter-item-param label {
    cursor: pointer;
//- Устраняет выделение текста и смежных элементов при быстром последовательном переключении checkbox
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.products__filter-item-param {
    margin-bottom: 7px;
}

.products__filter-checkbox{
    display: none;
}

.products__filter-checkbox-custom{
    position: relative;      
    width: 14px;
    height: 14px;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #d7d7d7;
    cursor: pointer;
}

.products__filter-checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.products__filter-checkbox:checked + .products__filter-checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    background: url(/img/path-1176.png) #3e8bdc 2px 2px no-repeat;
    width: 14px;
    height: 14px;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.07);
}
.products__filter-checkbox:checked +  .products__filter-checkbox-custom {
    border: none;
    width: 14px;
    height: 14px;
}
.products__filter-checkbox:checked +  .products__filter-checkbox-custom + label {
    color: $blue-light;
}


div.products__filter-item-param > label > label {
    line-height: 15px;
}

//Autocolumn - разбивка на колонки **-- start --**
.autocolumn .column, .autocolumn, .col {
    float: left;
    width: 50%;
}

ul.autocolumn{
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

ul.autocolumn > div.col > li:last-child{
    margin-bottom: 0;
}
ul.autocolumn > div > li > label > label {
    margin-left: 5px ;
}
//**-- end --**

